BasedOnStyle: Google

IncludeIsMainRegex: "$"
SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
    # System headers
  - Regex: '^<.*\.h>$'
    Priority: 1
    # Any other include
  - Regex: '.*'
    Priority: 2

IndentWidth: 4

BreakBeforeBraces: Linux
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 80
